<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">
        <title>{% block title %} Welcome! {% endblock %}</title>
        {% block stylesheets %}
            <!-- CSS only -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        {% endblock %}

        {% block javascripts %}

        {% endblock %}

    </head>

    <body>

        {% block body %}

        {% endblock %}

    </body>

</html>
