{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr':{'class':'form-control'}}) }}
        {{ form_errors(form.description) }}
    </div>
    <div class="form-group">
        {{ form_label(form.isbn) }}
        {{ form_widget(form.isbn, {'attr':{'class':'form-control'}}) }}
        {{ form_errors(form.isbn) }}
    </div>
    <div class="form-group">
        {{ form_label(form.excerpt) }}
        {{ form_widget(form.excerpt, {'attr':{'class':'form-control'}}) }}
        {{ form_errors(form.excerpt) }}
    </div>
    <div class="form-group">
        {{ form_label(form.publishing_year) }}
        {{ form_widget(form.publishing_year, {'attr':{'class':'form-control'}}) }}
        {{ form_errors(form.publishing_year) }}
    </div>
    <div class="form-group">
        {{ form_label(form.categories) }}
        {{ form_widget(form.categories, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.authors) }}
        {{ form_widget(form.authors, {'attr':{'class':'form-control'}}) }}
    </div>
    <br>
    <div class="form-group">
        {% if cover is defined and cover|length %}
            <img class="img-thumbnail" src="{{ asset('uploads/covers/' ~ cover) }}" alt="book cover">
        {% endif %}
        {{ form_widget(form.cover) }}
    </div>
    {{ form_label(form.is_deleted) }}
    {{ form_widget(form.is_deleted) }}
    {{ form_label(form.is_bestseller) }}
    {{ form_widget(form.is_bestseller) }}
    <div class="form-group">
        <button class="btn btn-info mt-2 text-white">Submit</button>
        {% if id is defined and id|length %}
            <a href="{{ path('book_delete_completely',{'id': id }) }}" style="margin-top: 8px" onclick="return confirm('do you want to delete this book completely?')" class="btn btn-danger"><i class="bi bi-trash"></i></a>
        {% endif %}
        <a href="{{ path('app_library') }}" style="margin-top: 8px" class="btn btn-success">Back to library</a>
    </div>
{{ form_end(form) }}
