{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success mt-4 mb-6">
                    {{ message }}
                </div>
            {% endfor %}

            <nav class="navbar navbar-light bg-light">
                <div class="form-group inline">
                    <a href="{{ path('book_create') }}" class="btn pull-left btn-success">Add</a>
                    <a target="_blank" href="{{ path('get_books') }}" class="btn btn-outline-success pull-left my-2 my-sm-0">Api book list</a>
                    <a target="_blank" href="{{ path('get_book',{'id': 1 }) }}" class="btn btn-outline-success pull-left my-2 my-sm-0">Api get book</a>
                </div>
            </nav>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Authors</th>
                    <th scope="col">Categories</th>
                    <th scope="col">Publishing Year</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Added to library</th>
                    <th scope="col">Bestseller</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for item in data %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.authorNames }}</td>
                        <td>{{ item.categoryNames }}</td>
                        <td>{{ item.publishingYear }}</td>
                        <td>{{ item.isbn }}</td>
                        <td>{{ item.createdDate }}</td>
                        <td>{{ item.isBestsellerIcon|raw }}</td>
                        <td>
                            <a href="{{ path('book_show',{'id': item.id }) }}" class="btn btn-success"><i class="bi bi-eye"></i></a><br>
                            <a href="{{ path('book_update',{'id': item.id }) }}" class="btn btn-warning"><i class="bi bi-pencil"></i></a><br>
                            <a href="{{ path('book_delete',{'id': item.id }) }}" onclick="return confirm('are you sure?')" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
