{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <td class="row">
            <h3 class="mt-5 mb-5">{{ book.name }}</h3>
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ book.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ book.name }}</td>
                </tr>
                <tr>
                    <th>Authors</th>
                    <td>
                        {% for author in authors %}
                            <p>{{ author|raw }}</p>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Categories</th>
                    <td>
                        {% for category, similarBooks in categories %}
                            <p> * <b>{{ category }}</b>.
                            {% if similarBooks|length %}
                                Other books in this category:</p>
                                <p>{{ similarBooks }}</p>
                            {% else %}
                                </p>
                            {% endif %}
                            <br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Deleted</th>
                    <td>{{ book.isDeleted ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Publishing year</th>
                    <td>{{ book.publishingYear }}</td>
                </tr>
                <tr>
                    <th>bestseller</th>
                    <td>{{ book.isBestseller ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ book.createdDate }}</td>
                </tr>
                <tr>
                    <th>Isbn</th>
                    <td>{{ book.isbn }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ book.description }}</td>
                </tr>
                <tr>
                    <th>Excerpt</th>
                    <td>{{ book.excerpt }}</td>
                </tr>
                <tr>
                    <th>cover</th>
                    <td>
                        {% if book.cover|length %}
                            <img class="img-thumbnail" src="{{ asset('uploads/covers/' ~ book.cover) }}" alt="book cover"></td>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="form-group">
                <a href="{{ path('app_library') }}" style="margin-top: 8px" class="btn btn-success">Back to library</a>
            </div>
        </div>
    </div>

{% endblock %}
