{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 class="mt-5 mb-5">Update Book</h3>
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                {{ include('library/_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}
